<div class="bg-body-secondary text-center py-5 rounded-2">
    <h2 class="display-6 fw-bold"> Employee Details</h2>
</div>

<div class="row mt-5">
    <div class="col-6">
        <app-employee-form />
    </div>

    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3" 
            *ngFor="let ed of service.list"> 
            <div class="flex-grow-1 mouse-hover"
            (click)="populateForm(ed)">
                <!-- <div class="fw-bold"> {{ed.employeeId}} </div> -->
                 <div class="fw-bold"> {{ed.lastName}}, {{ed.firstName}}</div>
                <div class="">Dept: {{ed.department}} | Salary: {{ed.salary}}</div>
            </div>
            <span class="bg-body-secondary">
                <i class="fa-solid fa-trash-can" (click)="onDelete(ed.employeeId)"> </i>
            </span>
            </li>
        </ul>
    </div>
</div>