form label{
    text-transform: uppercase;
}

form input{
    font-weight: 500;
}

form input::placeholder{
    color: grey;
    font-weight: 300;
}

form.submitted input.ng-invalid{
    border-color: red;
}